<!--? Extends from base  -->
{% extends "base.html" %}

<!--? Load static -->
{% load static %}

<!--? Title -->
{% block title %}Password Change{% endblock title %}

<!--? content -->
{% block content %}
    <div class="form-container">
        <div class="form-wrapper auth-form">
            <!--? Form header with auth styling -->
            <div class="form-header">
                <h1>Change password</h1>
            </div>
            
            <!--* Form body -->
            <div class="form-body">
                <form method="POST">
                    {% csrf_token %}    
                    {{ form.as_p }}     
                    <input type="submit" class="auth-link" value="change">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}