<!--? Extends from base  -->
{% extends "base.html" %}

<!--? Load static -->
{% load static %}

<!--? Title -->
{% block title %}Reset Email{% endblock title %}

<!--? content -->
{% block content %}
    <div class="form-container">
        <div class="form-wrapper auth-form">
            <!--? Form header with auth styling -->
            <div class="form-header">
                <h1>Reset password</h1>
            </div>
            
            <!--* Form body -->
            <div class="form-body">
                <form method="POST">
                    {% csrf_token %}    
                    {{ form.as_p }}     
                    <input type="submit" class="btn btn-success" value="reset">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}